node_modules
dist
build
.git
.gitignore
.env
.env.local
npm-debug.log
yarn-error.log
pnpm-lock.yaml
package-lock.json
yarn.lock
.vite
.cache
.npmrc
.DS_Store
.vscode
.idea
coverage
logs
*.log
*.pem
Dockerfile
.dockerignore
/.git
.ssh
__pycache__